<div class="container">
    <button id="exportButton">Export Logs</button>
</div>
<table id="auditLogsTable" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Action</th>
            <th>Timestamp</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>id</td>
            <td>deleted</td>
            <td>11/09/2001</td>
        </tr>
    </tbody>
</table>