@model List<SharedDocument>
<div class="text-center">
    <table id="sharedDocsTable" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Document</th>
                <th>Document Name</th>
                <th>Shared To</th>
                <th>Shared Date</th>
                <th>Access Level</th>
                <th>Remove Accesses</th>
            </tr>
        </thead>
    </table>
</div>


@section Scripts {
    <script src="~/js/SharedDocument.js"></script>
}