@model List<SharedDocument>
<div class="text-center">
    <table id="sharedDocsTable" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Document</th>
                <th>Document Title</th>
                <th>Shared To</th>
                <th>Shared Date</th>
                <th>Access Level</th>
                <th>Change Access</th>
                <th>Remove</th>
            </tr>
        </thead>
    </table>
</div>


@section Scripts {
    <script src="~/js/SharedDocument.js"></script>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}