<table id="userManagementTable" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Change Role</th>
            <th>Deactivate</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>id</td>
            <td>john doe</td>
            <td>a@a.c</td>
            <td>user</td>
            <td><input type="button" id="userManagementChangeRole" value="Change role"></td>
            <td><input type="button" id="userManagementDeactivate" value="Deactivate"></td>
            <td><input type="button" id="userManagementDelete" value="Delete"></td>
            <td><input type="button" id="userManagementUpdate" value="Update"></td>
        </tr>
    </tbody>
</table>