
<table id="userManagementTable" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Role</th>
            <th>Change Role</th>
            <th>Deactivate</th>
        </tr>
    </thead>
</table>


@section Scripts {
    <script src="~/js/user.js"></script>
}
