@model List<SharedDocument>
<div class="table-responsive shadow-sm">
    <table id="accessManagementsTable" class="table table-hover table-sm align-middle">
        <thead class="table-dark">
            <tr>
                <th scope="col">Document</th>
                <th scope="col">Document Title</th>
                <th scope="col">Shared To</th>
                <th scope="col">Shared Date</th>
                <th scope="col">Remove</th>
            </tr>
        </thead>
    </table>
</div>


@section Scripts {
    <script src="~/js/AccessManagements.js"></script>
}

