table {
    width: 100%; /* Table takes full width of the container */
    border-collapse: collapse; /* Removes extra spacing between borders */
}

th, td {
    border: 1px solid black; /* Adds borders to cells */
    padding: 10px;
    text-align: center;
}
th {
    background-color: rgb(145, 145, 145);
    color: #fff;
    text-align: center !important;
    vertical-align: middle !important;
}
.popup {
    display: none; /* Initially hidden */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 30px; /* Increased padding for better spacing */
    width: 60vw; /* Set width to 60% of the viewport */
    height: 60vh; /* Set height to 60% of the viewport */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 5px;
    color: black !important;
}

.popup button {
    margin-top: 10px;
    padding: 5px 10px;
}

/* Background overlay */
.overlay {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    color: black !important;

}

.uploadDocument {
    margin-bottom: 15px;
}


.drop-area {
    width: 100%;
    height: 40%;
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
    align-items: center;
}
.drop-area.highlight {
    border-color: #000;
}
.file-list {
    margin-top: 10px;
}
.file-item {
    padding: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
}