<div class="container">
    <button id="exportButton">Export Logs</button>
</div>
<table id="auditLogsTable" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>User Email</th>
            <th>Action</th>
            <th>FileName</th>
            <th>Timestamp</th>
        </tr>
    </thead>
</table>


@section Scripts {
    <script src="~/js/AuditLogs.js"></script>
}