<div class="table-responsive shadow-sm">
    <table id="sharedDocumentsTable" class="table table-hover table-sm align-middle">
        <thead class="table-dark">
            <tr>
                <th scope="col">Document</th>
                <th scope="col">File Name</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Shared At</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/SharedDocuments.js"></script>
}
