@model Document
<h1>More info about the document</h1>

<table id="moreInfoTable" class="moreInfoTable" style="width:100%">
        <thead id="moreInfoHead">
            <tr>
                <th>Document</th>
                <th>Author</th>
                <th>File Name</th>
                <th>Title</th>
                <th>Category</th>
                <th>Upload Date</th>
                <th>Update Date</th>
                <th>Summarize</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody id="moreInfoBody">
            <tr class="spacer-row"><td colspan="3"></td></tr>
            <tr>
                <td>Document</td>
                <td .disabled>Author</td>
                <td .disbaled>File Name</td>
                <td><input type="text" class="editable" value="Title"></td>
                <td><input type="text" class="editable" value="Category"></td>
                <td .disbaled>Upload date</td>
                <td .disbaled>Update date</td>
                <td><input type="button" id="moreInfoSummarizeButton" value="Summarize"></td>
                <td><input type="button" id="moreInfoUpdateButton" value="Update"></td>
                <td><input type="button" id="moreInfoDeleteButton" value="Delete"></td>
            </tr>
        </tbody>
</table>
<div class="sumPart">
    <h2>Summarization</h2>
    <p id="summarizationBox">Here we plug in the summarization (maybe we'll edit the tag later if we want to allow the user to change some of the text)</p>
</div>