@model Document
<h1>More info about the document</h1>

<table id="moreInfoTable" class="moreInfoTable" style="width:100%">
        <thead id="moreInfoHead">
            <tr>
                <th>Document</th>
                <th>Author</th>
                <th>File Name</th>
                <th>Title</th>
                <th>Category</th>
                <th>Upload Date</th>
                <th>Update Date</th>
                <th>Summarize</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody id="moreInfoBody">
            <tr class="spacer-row"><td colspan="3"></td></tr>
            <tr>
                <td>Document</td>
                <td .disabled>Author</td>
                <td .disbaled>File Name</td>
                <td><input type="text" class="editable" value="Title"></td>
                <td><input type="text" class="editable" value="Category"></td>
                <td .disbaled>Upload date</td>
                <td .disbaled>Update date</td>
                <td><input type="button" id="moreInfoSummarizeButton" value="Summarize"></td>
                <td><input type="button" id="moreInfoUpdateButton" value="Update"></td>
                <td><input type="button" id="moreInfoDeleteButton" value="Delete"></td>
            </tr>
        </tbody>
</table>
<!-- the action name is uploadshareddocument -->
<form method="post" asp-action="UploadSharedDocument" enctype="multipart/form-data">
    <hr class="mb-4">

    <!-- hidden field to pass DocumentID without the user input it-->
    <input type="hidden" name="DocumentID" value="@Model.Id" />

    <table id="addShared" class="addShared" style="width:100%">
        <thead id="addSharedHead">
            <tr>
                <th>User Email to Share document</th>
                <th>Share</th>
            </tr>
        </thead>
        <tbody id="addShareBody">
            <tr class="spacer-row"><td colspan="3"></td></tr>
            <tr>
                <td>
                    <label class="ms-2">Email</label>
                    <input name="SharedToEmail" class="form-control border-0 shadow"
                           required
                           type="email"
                           placeholder="Enter a valid email" />
                    <span class="text-danger"></span>
                </td>
                <td>
                    <!-- Submit button to post the form -->
                    <button type="submit" class="btn btn-secondary">
                        <i class="bi bi-share-fill"></i> - Share to Other User
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</form>
<div class="text-center fixed-bottom-center" style="margin-bottom: 60px;">
    <!-- to place the back button always down in the center in top of the bottom header-->
    <a href="/home/document" class="btn btn-info mx-2"> <i class="bi bi-arrow-return-left"></i> Back </a>
</div>

<hr class="mb-4">

<div class="sumPart">
    <h2>Summarization</h2>
    <p id="summarizationBox">Here we plug in the summarization (maybe we'll edit the tag later if we want to allow the user to change some of the text)</p>
</div>