<div>
    <table id="sharedDocumentsTable" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Document</th>
                <th>File Name</th>
                <th>Title</th>
                <th>Author</th>
                <th>Shared At</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/SharedDocuments.js"></script>
}
